@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
:root {
  }
  * {
    margin: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }

.conatiner{
  max-width: 1280px;
  margin: 0 auto;
}

  nav{
    height: 72px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 24px;

    font-weight: 500;
  }